body{
  color: #37ff14e7;
}
.container h1{
  color: rgb(175, 1, 21);;
  text-align: center;
  -webkit-text-stroke: .5px #fff;
  -webkit-text-stroke-color: #37ff14e7;;
}
.container p{
  text-align: center;
}
.outer-flex-container{
  flex-direction: column;
  display: flex;
}
.inner-flex-container{
  display: flex;
}
.form-input{
  width: 5em;
  background-color: #37ff14e7;
}
#text-indent{
  margin-left: .5em;
}
select{
  text-align: center;
}
.btn{
  margin-top: 5px;
  margin-bottom: 5px;
  color: #37ff14e7;;
  background-color: #990011ff;
}
#submit-data{
  display: block;
  width: 100%;
}
#form-checkbox{
  margin-left: .5em;
}
#inner-box1{
  border: solid;
  flex: 1;
  margin-right: 1em;
}
#inner-box2{
  display: none;
  border: solid;
  flex: 2;
  text-align: center;
}
#inner-box2 h2{
  margin-bottom: 3em;
}
#planet-select{
  width: 100%;
}
#confirm-planet{
  display: block;
  width: 100%;
}
#outer-box1{
  order: 1; 
  margin-bottom: 3em;
}
#outer-box2{
  display: none;
  text-align: center;
  order: 2;
}
section{
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: #000200;
}
section .star{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  -o-object-fit: contain;
  object-fit: contain;
  animation: animate 8s ease-in-out infinite,
    backgroundmove 16s linear infinite;
}
section .star.star1{
  animation-delay: 0s;
  background: url('../assets/images/star1.png');
}
section .star.star2{
  animation-delay: -1s;
  background: url('../assets/images/star2.png');
}
section .star.star3{
  animation-delay: -2s;
  background: url('../assets/images/star3.png');
}
section .star.star4{
  animation-delay: -3s;
  background: url('../assets/images/star4.png');
}
section .star.star5{
  animation-delay: -4s;
  background: url('../assets/images/star5.png');
}
section .star.star6{
  animation-delay: -5s;
  background: url('../assets/images/star6.png');
}
section .star.star7{
  animation-delay: -6s;
  background: url('../assets/images/star7.png');
}
section .star.star8{
  animation-delay: -7s;
  background: url('../assets/images/star8.png');
}
@keyframes animate{
  0%,20%,40%,60%,80%,100%{
    opacity: 0;
  }
  10%,30%,40%,50%,70%,90%{
    opacity: 1;
  }
}
@keyframes backgroundmove {
  0%{
    transform: scale(1);
  }
  100%{
    transform: scale(2);
  }
}